.flecha {
    margin: 0 auto;
    height: 130px;
    width: 130px;
    margin-bottom: 35px;
  
    .flecha-contenedor {
      position: relative;
      height: 150px;
      width: 150px;
      margin-bottom: 65px;
  
      .flecha-animada {
        position: absolute;
        animation-name: up-and-down, alrededor;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        height: 130px;
        width: 130px;
  
        img {
          width: 130px;
          transform: rotate(-90deg);
        }
      }
  
      @keyframes alrededor {
        from {left: -270px;}
        to {left: 270px;}
      }
  
      @keyframes up-and-down {
        0% {
          top: 0;
        }
  
        25% {
          top: -30px;
        }
  
        50% {
          top: -60px;
        }
  
        75% {
          top: -30px;
        }
  
        100% {
          top: 0;
        }
      }
    }
  }